@import "../../../../StyledGlobalColor.css";

#intro-section-4 {
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    background-image: url("../../../../images/new-york-1920x500.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; 
}


.container-section4{
    background-color: rgb(151, 148, 148,0.5);
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.box-container-section4{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.text-container-section4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.margin-top{
    margin-top: 2vw;
}

.title-text-section4{
    font-size: 3vw;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black
}

.box-container-video-section4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.btn-rigth-container-more{
    text-shadow: 0.1em 0.1em 0.2em black;
    cursor: pointer;
}

.btn-rigth-container-more:hover{
color: rgb(19, 19, 21);
}

.video{
    width: 36vw;
    height: 18vw;
}
@media (max-width: 570px) {
    .container-section4{
        background-color: rgb(151, 148, 148,0.5);
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    #intro-section-4 {
        height: 70vw;
    }

    .video{
        width: 54vw;
        height: 27vw;
    }

    .box-container-section4{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .btn-rigth-container-more{
        font-size: 3vw;
    }
}