@import "../../../../StyledGlobalColor.css";

#intro-section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(179, 175, 175,0.5);
}


.title-container{
    padding: 3vw;
}

.body-intro-section-2{
    display: flex;
    margin-bottom: 2rem;
}

.middle_collumn{
    width: 50%;
    text-align: center;
    display: flex;
   justify-content: center;
}

.collumn1{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.collumn2{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.middle_collumn-text{
    width: 80%;

}

.area-box-section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 0.8rem 0;
    gap: 0.8rem;
}



.area-box-section-2:hover{
cursor: pointer;
background-color: azure;
}

.img-icon-section-2{
    width: 3rem;
}

.img-text-section-2{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

@media (max-width: 750px) {
.middle_collumn{
    position: absolute;
    width: 90%;
    margin-top: 50vw;
}

.body-intro-section-2{
    
}
#intro-section-2{
    height: 110vw;
}

.collumn1{
    width: 45vw;

}

.collumn2{
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
}

.img-icon-section-2{
    width: 5vw;
}

.img-text-section-2{
    font-size: 2vw;
    font-weight: 600;
    color: black;
}

.area-box-section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 0.8rem 0;
    gap: 0.2rem;

}

.middle_collumn-text{
    font-size: 2vw;
}

}

@media (max-width: 570px) {
    .middle_collumn{
        margin-top: 60vw;
    }
    #intro-section-2{
        height: 120vw;
    }
}

@media (max-width: 370px) {
    .middle_collumn{
        margin-top: 70vw;
    }
    #intro-section-2{
        height: 130vw;
    }
}

@media (max-width: 270px) {
    .middle_collumn{
        margin-top: 80vw;
    }
    #intro-section-2{
        height: 140vw;
    }
}