#footer{
    color: #767779;
    background-color: rgb(59, 59, 59);
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container-left{
    width: 100%;
    height: 100%;
}



.footer-collumn-top{
    width: 95%;
    height: 45%;
    margin: 0 2vw ;
    border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
    border-image-source: linear-gradient(to left, rgb(237, 198, 109), rgb(237, 198, 109), rgb(248, 243, 226), rgb(237, 198, 109), rgb(237, 198, 109));
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer-collumn-bottom{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: black;
}

.footer-title, .footer-text{
    background-image: linear-gradient(to left, rgb(237, 198, 109), rgb(248, 243, 226), rgb(237, 198, 109));
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
}

.logo-container{
    padding-left: 1.5vw;
    
}
.logo-footer{
    width: 18vw;
    
}

.icon-footer{
    max-width: 4vw;
    margin-left: 1rem;
}

.icon-midia-footer{
    max-width: 4vw;
    margin-left: 1rem;
}

.footer-title-top{
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
}
.footer-conteiner-top{
    width: 100%;
}

.footer-conteiner-title-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'PT Sans Narrow', sans-serif;

    
}

.left-conteiner-icons, .footer-conteiner-icons{
    display: flex;
    align-items: flex-end;

}

.footer-conteiner-icons-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    
}

.footer-collumn-left-bottom{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'PT Sans Narrow', sans-serif;

}

.footer-collumn-rigth-bottom{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'PT Sans Narrow', sans-serif;
}

@media (max-width: 560px) {
.icon-container-midia-footer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
}

@media (max-width: 420px) {
    .logo-footer{
    width: 30vw;
    
}

.icon-midia-footer{
    max-width: 6vw;
    margin-left: 1rem;
    
}

.footer-conteiner-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    
}

.icon-footer{
    max-width: 6vw;
    margin-left: 1rem;
}

}

@media (max-width: 300px) {
    .footer-conteiner-icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:0.3rem;
        
    }

    .footer-text, .footer-title{
font-size: 5vw;
    }
}