@import "../../../../StyledGlobalColor.css";

#intro-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: white;
    z-index: 10;
}

.title-container-section3{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.title-section3{
    font-size: 4vw;
    color: black;
}

.text-section3{
    font-size: 2vw;
    font-weight: 600;
    color: var(--blue-strong);
}

.galeria{
    width: 80%;
    margin-top: 2rem;
    color: black;
    gap: 3rem;
    display: flex;
    justify-content: center;
}

.galeria-produtos{
display: flex;
align-items: center;
}

.image-product-sector3{
    height: 25vw;
    box-shadow: 0 0 1em rgb(117, 115, 115);
}

.text-container-galeri-sector3{
    margin-top: 12vw;
    width: 16vw;
}
.text-box-galeri-sector3{
    margin-left: -3rem;
    padding: 2vw 0rem;
    width: 100%;
    background-color: rgb(246, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px rgb(88, 87, 87);
    color: black;
    font-size: 2vw;
    font-weight: 600;
}

.text-box-left-galeri-sector3{
    padding: 2vw 0rem;
    width: 100%;
    background-color: rgb(246, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(76, 75, 75);
    color: black;
    font-size: 2vw;
    font-weight: 600;
    
}

.to-top-index{
    z-index: 5;
}

.to-down-index{
    z-index: 1;
    margin-left: -3rem;
}

.margin-down{
    margin-bottom: 2rem;
}



.image-assistence-logo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    
}

.image-assistence-logo{
    max-width: 10rem;
    max-width: 5rem;
    
}

@media (max-width: 1000px) {
    #intro-section-3 {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        overflow: hidden;
        
    }
   
    
}

@media (max-width: 900px) {
  
    .image-assistence-logo-container{
        grid-template-columns: 1fr 1fr 1fr 1fr  ;   
    }
    
}

@media (max-width: 500px) {
  
    .image-assistence-logo-container{
        grid-template-columns: 1fr 1fr 1fr  ;   
    }
    
}